<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: header('나의 예약')">
  <meta charset="UTF-8">
  <title>나의 예약</title>
</head>
<body>
<div th:replace="fragments/common :: menu('home')"></div>

<div class="container">
  <h3>나의 예약</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>병원</th>
      <th>환자 이름</th>
      <th>연락처</th>
      <th>예약 날짜 및 시간</th>
      <th>변경</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:if="${not #lists.isEmpty(reservations)}">
      <tr th:each="reservation : ${reservations}">
        <td th:text="${reservation.ophthalmology.name}">안과 이름</td>
        <td th:text="${reservation.user.name}">환자 이름</td>
        <td th:text="${reservation.user.number}">연락처</td>
        <td th:text="${reservation.reservationDate} + ' ' + ${reservation.reservationTime}">예약 날짜 및 시간</td> <!-- 예약 날짜 및 시간 -->

<!--        <td th:text="${reservation.reservationDate}">예약 날짜</td>-->
<!--        <td th:text="${reservation.reservationTime}">예약 시간</td>-->
<!--        <td><a th:href="@{/user/reservations/{id}(id=${reservation.id})}">상세보기</a></td>-->
        <td><a th:href="@{/reservation/user/reservations/edit/{id}(id=${reservation.id})}">수정</a></td>
        <td>
          <form th:action="@{/user/reservations/delete/{id}(id=${reservation.id})}" method="post">
            <input type="submit" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?');"/>
          </form>
        </td>
      </tr>
    </th:block>
    <th:block th:if="${#lists.isEmpty(reservations)}">
      <tr>
        <td colspan="6">예약이 없습니다.</td>
      </tr>
    </th:block>
    </tbody>
  </table>
</div>

</body>
</html>
